:root {
  /* COLORS */
  --primary-blue: hsl(220, 98%, 61%);

  --clr-bg-gradient: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* LIGHT THEME COLORS */
  --light-grey: hsl(0, 0%, 98%);
  --v-light-greyish-blue: hsl(236, 33%, 92%);
  --light-greyish-blue: hsl(233, 11%, 84%);
  --dark-greyish-blue: hsl(236, 9%, 61%);
  --v-dark-greyish-blue: hsl(235, 19%, 35%);

  /* DARK THEME COLORS */
  --v-dark-blue: hsl(235, 21%, 11%);
  --v-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-greyish-blue: hsl(234, 39%, 85%);
  --light-greyish-blue-hover: hsl(236, 33%, 92%); /* (hover) */
  --dark-greyish-blue: hsl(234, 11%, 52%);
  --v-dark-greyish-blue: hsl(233, 14%, 35%);
  --s-dark-greyish-blue: hsl(237, 14%, 26%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  --text-color: var(--light-greyish-blue);
  --completed-text-color: var(--dark-greyish-blue);
  --hover-effect: var(--light-greyish-blue-hover);
  --bg-color: var(--v-dark-blue);
  --list-bg-color: var(--v-dark-desaturated-blue);
  --border-color: var(--v-dark-greyish-blue);
  --footer-text-color: var(--dark-greyish-blue);
  --shadow-color: var(--v-dark-blue);
}

.light-theme {
  --text-color: var(--v-dark-greyish-blue);
  --completed-text-color: var(--dark-greyish-blue);
  --hover-effect: var(--v-dark-greyish-blue);
  --bg-color: var(--v-light-greyish-blue);
  --list-bg-color: var(--light-grey);
  --border-color: var(--light-greyish-blue);
  --footer-text-color: var(--dark-greyish-blue);
  --shadow-color: var(--light-greyish-blue);
}

.bg-desktop-dark {
  background-image: url(assets/images/bg-desktop-dark.jpg);
}

.bg-desktop-light {
  background-image: url(assets/images/bg-desktop-light.jpg);
}

.bg-mobile-dark {
  background-image: url(assets/images/bg-mobile-dark.jpg);
}

.bg-mobile-light {
  background-image: url(assets/images/bg-mobile-light.jpg);
}

body {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
}
